<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME TO CASHIFY ATM</title>
    <link rel="stylesheet" type="text/css" href="static/css/homestyle2.css">

    
</head>
<body>
<header class="header">
    <img src="static/css/images/banklogo1.jpg" height="70px" width="150px">
    <nav class="navbar">
        <a href="/">HOME</a>
        <a href="/deposit">DEPOSIT</a>
        <a href="/withdraw">WITHDRAW</a>
        <a href="/mini_statement">MINI STATEMENT</a>
        <a href="/statement">DOWNLOAD STATEMENT</a>
    </nav>
    <a href="/login" class="login">Login</a>
    <a href="/signup" class="signup">Signup</a>
</header>
<hr>
<div class="container">
    <div class="card">
        <center><h1>Step1</h1></center>
        <img src="static/css/images/insert.jpg">
        <div class="info">
            <center>
                <h1>Insert</h1>
                <p>Just slide your card into the designated slot with the chip facing up and follow the on-screen prompts. Remember to remove your card once the transaction is complete. Enjoy hassle-free banking!</p>
            </center>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <center><h1>Step 2</h1></center>
        <img src="static/css/images/pin.jpg">
        <div class="info">
            <center>
                <h1>Pin</h1>
                <p>To enter your PIN at the ATM, simply use the keypad provided on the machine. Carefully input your unique PIN using the numbered keys and press 'Enter' or 'Confirm' when finished. Keep your PIN confidential to ensure the security of your transactions.</p>
            </center>
        </div>
    </div>
</div>
<div class="container">
    <div class="card">
        <center><h1>Step 3</h1></center>
        <img src="static/css/images/withdraw.jpg">
        <div class="info">
            <center>
                <h1>Withdraw</h1>
                <p>Withdrawing cash from the ATM is a breeze! After entering your PIN, select the 'Withdrawal' option on the screen. Then, input the desired amount of cash you wish to withdraw. Finally, collect your cash from the dispenser and don't forget to take your card before leaving. Enjoy convenient access to your funds!</p>
            </center>
        </div>
    </div>
</div>
<br>
<footer>
    <p>&2024 Cashify ATM</p>
</footer>
</body>
</html>
