<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LOGIN PAGE</title>
        <link rel="stylesheet" href="static/css/signu.css">
       

    </head>
    <body>
        <form method="post" action="/login" autocomplete="off">
            <h1>LOGIN</h1>
            <label for="username">Username</label> 
            <input type="text" id="username" name="username" required> 
            <label for="password">Password</label> 
            <input type="password" id="password" name="password" required> 
            <button type="submit">Login</button>
            <a href="/">BACK</a>
        </form>
       
        
</body>
</html>
